@charset "utf-8";
.header-wrap,.logo-wrap,.detail-wrap,.main-wrap,.footer-wrap,.search-wrap,.footer-wrap{
    width: 1072px;
    margin: 0 auto;
}
html,body{
    overflow-x: hidden;
}
body{
    overflow-y: hidden;
}
body:hover{
    cursor: pointer;
}
#header{
width: 100%;
height: 28px;
background-color: #f4f4f4;
border: 1px solid #e5e5e5;
font-size: 12px;
}
.header_l{
    width: 250px;
    height: 28px;
    line-height: 28px;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
}
.header_l a{
    color: #666666;
}
.header_l .iconfont{
    color: #ff4040;
    padding-right: 4px;
}

.header_l a:hover{
    color: #ff4040;
}
.header_l a:nth-child(3){
    color:#333333;
}
.header_l a:nth-child(3):hover{
    color: #ff4040;
}


.header_r{
    float: right;
    width: 380px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.header_r .iconfont{
    padding-right: 4px;
    color: #adb0af;
}
.header_r li:nth-child(3):hover{
    color: #ff4040;
}
.header_r li:nth-child(4):hover{
    color: #ff4040;
}
.header_r li:nth-child(3):hover .iconfont{
    color:#ff4040;
}
.header_r li:nth-child(4):hover .iconfont{
    color:#ff4040;
}

.login{
    color: #666666;
}
.login a{
    color: #ff4040;
}
.reg a{
    color: #aaaaaa;
}
.reg a:hover{
    color:#ff4040;
}
#logo{
    border-bottom:2px solid #ff4040;
}

.logo-wrap{
    height: 180px;
    position: relative;
    
}
.logo_l{
    width: 320px;
    height: 140px;
    display: flex;
    align-items: center;
    float: left;
}
.logo_l .logo_img1{
    width: 130px;
    height: 130px;
    float: left;
}
.logo_l .logo_img2{
    width: 160px;
    height: 90px;
    float: left;
}
.logo_l img{
    width: 100%;
    height: 100%;
}

.logo_r{
    float: right;
    width: 650px;
    height: 140px;
    display: flex;
    align-items: center;
    position: relative;
   
}

#search {
    width: 510px;
    height: 40px;
    background-color: #ff0400;
    border-radius: 2em;
}

#search_txt {
    border: 0;
    width: 408px;
    height: 36px;
    float: left;
    border-radius: 2em 0 0 2em;
    border: 2px solid #ff0400;
    padding-left: 30px;
}

.search_btn {
    width: 52px;
    height: 40px;
    background-color: #ff0400;
    float: left;
    border: 0;

}

.search_btn .iconfont {
    font-size: 24px;
    color: #ffffff;
}


.shoppingCar{
    width: 120px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e2e2e2;
    float: left;
    border-radius: 20px;
    text-align: center;
    margin-left: 15px;
}
.shoppingCar:hover{
    background-color: #fcfcfc;
}
.shoppingCar .iconfont{
    padding-right: 7px;
}
.key{
    float: left;
    position: absolute;
    left: 28px;
    bottom: 25px;
}
.key li{
    float: left;
    font-size: 12px;
    margin: 0 5px;
}
.key li a{
    color: #aaaaaa;
}
.key li:hover a{
    color: #333333;
}

.logo-wrap .nav{
    position: absolute;
    left: 0;
    bottom: 0;
}
.logo-wrap .nav{
    position: absolute;
    left: 0;
    bottom: 0;
}
.nav .nav_txt{
    float: left;
    margin: 0 15px;
    line-height: 38px;
}

.nav .nav_one{
    width: 140px;
    height: 38px;
    line-height: 38px;
    background-color: #ff4040;
    text-align: center;
    color: #ffffff;
    
}
.nav li:hover{
    color: #ff4040;
}
.nav .nav_one:hover{
    color: #ffffff;
}
/* #plist{
min-height: 600px;
} */

.logo-wrap .open{
    width: 1071px;
    min-height: 420px;
    background-color: #fff;
    position: absolute;
    bottom: -423px;
    left: 0;
    border: 1px solid #ff4040;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
}


.open .inner{
    width: 155px;
    height: 175px;
    margin-left: 20px;
    margin-top:20px;
    border-right: 1px solid #e9e9e9;
    font-size: 12px;
}

.inner .inner_more {
    width: 155px;
    height: 175px;
}
.inner .inner_more h6 {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
.inner .inner_more .inner_tit{
    color: #000000;
}
 .inner .inner_more li{
     width: 77px;
     height: 24px;
     line-height: 24px;
     float: left;
     text-align: left;
 }
 .inner .inner_more li a{
     color: #333333;
 }
 .inner .inner_more li:hover a{
     color: #ff4040;
 }
 .inner .inner_more h6:hover{
     color: #ff4040;
 }


.search-wrap{
    min-height: 600px;
    position: relative;
}


.search-wrap .mod_search{
    height: 38px;
    line-height: 38px;
}
.mod_search .list_con{
    width: 120px;
    height: 38px;
    float: left;
    margin-left: 26px;
}
.mod_search .list_con .iconfont{
    color: #e60012;
}
.mod_search .all_con{
    width: 120px;
    height: 38px;
    float: right;
    text-align: center;
    font-size: 12px;
    color: #999999;
}

.search_box{
    width: 1066px;
    height: 132px;
    border: 2px solid #e5e5e5;
}
.search_box .brand_box{
    height: 130px;
    /* border-top: 2px solid #855050; */
    display: flex;
}
.brand_box .brand_tit{
    width: 107px;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 20px;
    background-color: #f8f8f8;
    color: #999999;
}
.brand_box .brand_main{
    width: 847px;
    height: 129px;
}
/* .guide_list{
    width: 746px;
    height: 108px;
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
} */
.guide_list{
    border-collapse:collapse;
    margin: 10px;
    width: 746px;
    height: 108px;
}
.guide_list tr td{ 
    border: 1px solid #e5e5e5;
width: 104px;
height: 52px;
text-align: center;
font-size: 12px;
}
tr td img{
width: 80%;
height: 80%;
margin: 0 auto;
}
tr td:hover{
border: 0;
}
tr td:hover{
    color: #ff4040;
    border: 2px solid #ff4040;
}
tr td span{
  display: none;
}
tr td:hover img{
    display: none;
}

tr td:hover span{
display: block;
}
.guide_list li{
    width: 104px;
    height: 52px;
    border: 1px solid #e5e5e5;
}

.search_box .guide_box{
    height: 33px;
    background-color: aqua;
    border-top: 2px solid #e5e5e5;
}
.search_box .guide_choice{
    width: 100px;
    height: 30px;
    font-size: 12px;
    float: right;
    text-align: center;
    margin-top:10px;
    margin-right: 3px;
}
.search_box .guide_choice a{
    color: #999999;
}
.guide_choice .more_choice{
    display: inline-block;
    width: 40px;
    height: 18px;
    border: 1px solid #dcdcdc;
    margin-right: 6px;
    border-radius: 3px;
    background-color: #fbfbfb;
}
.guide_choice a:hover{
    color: #ff0400;
}
.mod_container{
    /* height: 81px; */
    border: 1px solid #dddddd;
    margin-top: 10px;

}

.mod_select{
    height: 40px;
    background-color: #f5f5f5;
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
}

.mod_select .select_sort{
    width: 301px;
    height: 40px;
    line-height: 40px;
    color: #333333;
    text-align: center;
    float: left;
}
.select_sort li{
float: left;
    width: 60px;
    height: 40px;
}
.select_sort li:nth-child(1) a{
    color: #ff4040;
}
.select_sort li a{
    color: #333333;
}
.select_sort li:nth-child(1){
    color: #ff4040;
    background-color: #ffffff;
    border-right: 1px solid #dddddd;
}
.select_sort li .iconfont{
    font-size: 12px;
    color: #cccccc;
}
.select_sort li:hover a{
    color: #ff0400;
}

.select_sort li:hover{
    color: #ff0400;
    background-color: #ffffff;
}

.select_sort li:hover .iconfont{
    color: #ff0400;
}
.mod_select .between{
    width: 120px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #333333;
    border-right: 1px solid #e1e1e1;
}
.mod_select .between:hover{
    background: #ffffff;
}

.mod_select .boxTop{
    width: 100px;
    height: 19px;
    margin: 0 auto;
}
.mod_select .price_txt{
    width: 9px;
    height: 16px;
    border: 0;
    text-align: center;
}
.between input{
    width: 39px;
    height: 17px;
    border: 1px solid #e1e1e1;
}
.mod_select .local_box{
    width: 144px;
    height: 40px;
    line-height: 40px;
    float: left;
    display: flex;
    text-align: center;
    border-right: 1px solid #e1e1e1;
}
.local_box span{
    width: 48px;
    height: 40px;
}
.local_box .address_name{
    width: 97px;
    height: 40px;
    position: relative;
    color: #666666;
}
.address_name:hover{
background: #fff;
}
.address_name .sub{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border:3px solid;
    border-color: transparent red red transparent;
}
.search_bar{
    width: 160px;
    height: 40px;
    float: right;
    position: relative;
    color: #919191;
    margin-right: 6px;
}
.search_bar input{
    width: 153px;
    height: 30px;
    border: 1px solid #e1e1e1;
    margin: 5px auto;
    color: #919191;
    padding-left: 7px;
    font-size: 12px;
}
.search_bar .iconfont{
    position: absolute;
    right: 10px;
    top: 12px;
}


.mod_bottom{
    height: 40px;
    font-size: 12px;
}
.check_box{
    width: 186px;
    height: 40px;
}
.check_box .tab_area{
    height: 40px;
    line-height: 45px;
    float: left;
    text-align: center;
    margin-left: 18px;
    color: #333333;
}
.check_box li .ico_check{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;
    background: url(../images/list/searchSprite_png24.png) no-repeat;
    background-position: -76px -58px;
    
}
.check_box li .not_check{
    background-position: -64px -70px;
}
.check_box li a:hover{
color: #ff0400;
}
.item_list{
    width: 1000px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}



.item_list .item_bg{
    width: 188px;
    height: 369px;
    margin-bottom: 50px;
    border: 1px solid transparent;
}
.item_list .item_bg:hover{
    border: 1px solid #eaeaea;
    box-shadow:0px 0px 10px #eaeaea;
}
.item_bg dt{
    width: 188px;
    height: 188px;
    margin-bottom: 10px;
}
.item_bg dt img{
    width: 184px;
    height: 184px;
    margin: 2px;
}
.item_bg dd{
    width: 180px;
    height: 164px;
margin-left: 5px;

}
.item_bg dd p{
    margin: 0;
    font-size: 12px;
}
.item_bg dd .proPrice{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #e60012;
}
.item_bg dd .proName{
    width: 180px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 12px;
   color: #333333;
   margin-top: 10px;
}
.item_bg dd .proTxt{
    color: #333333;
   padding: 2px 0 4px;
   line-height: 18px;
   /* white-space: wrap; */
}
.item_bg dd .proName:hover{
    color: #ff4040;
}
.item_bg dd .icon_bg{
    height: 18px;
    margin: 4px 0;
}
.item_bg dd .activity{
    display: block;
    height: 16px;
    line-height: 16px;
    background-color: #fff7fa;
    border: 1px solid #ffcce0;
    float: left;
    padding: 0 2px;
    color: #ff62a1;
    margin-right: 4px;
    font-size: 12px;
    /* margin: 4px 0; */
}
.item_bg dd .shopping_car{
width: 184px;
height: 37px;

}

.shopping_car .shopping_num{
    width: 48px;
    height: 28px;
    float: left;
}
.shopping_num .buyName{
    width: 28px;
    height: 26px;
    border: 1px solid #dbdbdb;
    float: left;
    text-align: center;
}
.shopping_num  .buy_right{
    width: 16px;
    height: 26px;
    float: right;
}
.shopping_num  .buy_right a{
    display: block;
    width: 16px;
    height: 15px;
    text-align: center;
    border: 0;
}

.shopping_num  .buy_right .add{
    background: url(../images/list/searchSprite_png24.png) no-repeat;
    background-position: -63px 0;
}
.shopping_num  .buy_right .reduce{
    background: url(../images/list/searchSprite_png24.png) no-repeat;
    background-position: -46px -14px;
}

.shopping_act{
    font-size: 12px;
    float: left;
    text-align: center;
    margin-left: 8px;
}
.shopping_act:hover .buy_btn{
    background-color: #fb3a29;
}
.shopping_act .buy_btn{
    display: inline-block;
    width: 90px;
    height: 26px;
    color: #fff;
    line-height: 28px;
    background-color: #ff5c4d;
    border: 1px solid #ff4141;
}

.pro_comment{
font-size: 12px;
height: 20px;
line-height: 20px;
}
.pro_comment .comment a{
    color: #666666;
}
.pro_comment .good{
    color: #ed6a67;
    margin-left: 10px;
}
.shop_name{
    height: 16px;
    line-height: 16px;
padding-top: 10px;
    /* padding-top: 10px; */
}
.shop_name .shop_t{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #999999;
}
.shop_name .shop_txt{
    width: 94px!important;
}
.shop_name .shop_txtname{
    width: 120px!important;
}
.shop_name b{
    display: inline-block;
    width: 26px;
    height: 12px;
    line-height: 12px;
    padding: 1px;
    border: 1px solid #ff3c25;
    color: #ff3c25;
    font-size: 12px;
    text-align: center;
    margin-right: 4px;
    background: #fff8f8;
    position: relative;
    top: -4px;
}
.shop_name .icon_left{
    display: inline-block;
    width: 4px;
    height: 7px;
    position: relative;
    top: -4px;
    background: url(../images/list/icon-right-pc.png) no-repeat -6px 0;
}
.shop_name a:hover{
    color: #ff0400;
}
.shop_name:hover .icon_left{
   background-position: 0 0;
}

.list_contain{
    width: 990px;
  
}
 .comment_page{
    width: 333px;
    height: 42px;
    position: absolute;
    bottom:-60px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}
.comment_page li{
    width: 36px;
    height: 36px;
    line-height:36px;
    border: 1px solid #ccc;
}
.comment_page li a{
    color: #999999;
}
.comment_page .page_one{
    color: #fff;
    border: 1px solid #F2855F;
    background-color: #ff8c64;
}
.comment_page .more_page{
    display: inline-block;
    width: 34px;
    border: 0;
    font-size: 20px;
}
.comment_page .next_page{
    width: 84px;
    height: 36px;
}
.next_page .iconfont{
    font-size: 14px;
}
.comment_page li:hover{
    background-color:#ff8c64;
}
.comment_page li:hover a{
    color: #fff;
}



 /* 底部 */
 .footer-wrap{
    min-height: 297px;
    margin-top: 60px;
}

.footer-wrap div{
    clear: both;
}
.footer_list{
    display: flex;
    justify-content: space-between;
    height: 124px;
    border-bottom: 1px solid #ebebeb;
}
.footer_list li{
    width: 213px;
    height: 124px;
}
.footer_list dt{
    width: 66px;
    height: 66px;
    border-radius: 100%;
    border: 2px solid #c81623;
    text-align: center;
    line-height: 66px;
    margin-right: 15px;
}
.footer_list dt .iconfont{
    font-size: 36px;
    color: #c81623;
}
.footer_list dl{
    width: 213px;
    height: 124px;
    display: flex;
    align-items: center;
    
}

.footer_list dl h6{
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
.footer_list dl span{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    
}
.footer_links{
    min-height: 171px;
    display: flex;
}

.links_l{
    display: flex;
    justify-content: space-around;
    width: 690px;
}
.links_l ul{
    margin-top: 20px;
}
    .links_l ul li{
    font-size: 12px;
    line-height: 24px;
    color: #666666;
     }
     .links_l ul li a{
         color: #666666;
     }
     .links_l ul li:hover a{
     color:#c81623;
     }

.links_l ul li:nth-child(1){
    font-weight: bold;
}
.links_l ul li:nth-child(1):hover{
    color:#666666 ;
}
.links_l ul:nth-child(4){
    background-color: #fff;
    font-weight: normal;
    }
    .links_r{
        width: 300px;
        display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: 50px;
    }
    .links_r dt{
       font-size: 14px;
       font-weight: bold;
       color: #666666;
       margin-bottom: 8px;
    }
    #bottoms{
        width: 100%;
        height: 151px;
    }
    .bottoms-wrap{
        height: 151px;
    }
    .bottoms-wrap ul{
        margin-left: 10px;
        padding-top: 38px;

    }
    .bottoms-wrap li{
        float: left;
        font-size: 12px;
        margin: 0 6px;
        background: url(../images/bottomsborder_03.png) no-repeat right;
        padding-right: 10px;
    }
    .bottoms-wrap li a{
        color: #333333;
    }
    .bottoms-wrap li:hover a{
        color:#c81623;
    }
    .bottoms-wrap p{
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        color: #666666;
        padding-top: 15px;
    }
    .bottoms_icons{
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
    }